/* About.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Apply styles only to elements within the #about-container */
#about-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#about-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 12%;
  background-color: white;
  margin-top: 40px;
}

.about-left img {
  width: 420px;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  margin-right: 40px;
}

.about-right {
  width: 54%;
  margin-bottom: 20px;
  margin-right: 40px; /* Added margin to the right side */
}

.about-right h1 {
  color: #3d3522;
  font-size: 32px;
  margin-bottom: 20px;
}

.about-right p {
  color: #4d4d33;
  line-height: 2.0; /* Adjusted line-height for more space */
  font-size: 16px;
  margin-bottom: 20px; /* Increased margin-bottom for more separation */
  text-align: justify;
}

.interests-hobbies h2,
.goals h2 {
  font-size: 24px;
  color: #3d3522;
  margin-bottom: 30px; /* Increased margin-bottom for more separation */
}

.interests-hobbies p,
.goals p {
  color: #4d4d33;
  line-height: 2.0; /* Adjusted line-height for more space */
  font-size: 16px;
  margin-bottom: 20px; /* Increased margin-bottom for more separation */
}

/* Media Queries for responsiveness */
@media only screen and (max-width: 768px) {
  #about-section {
    flex-direction: column;
    padding: 40px 5%;
  }

  .about-left img {
    width: 100%;
    margin-top: 0;
  }

  .about-right {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0; /* Removed margin-right for smaller screens */
  }

  .about-right h1 {
    font-size: 28px;
    margin-bottom: 15px; /* Adjusted margin-bottom for more separation */
  }

  .about-right p {
    font-size: 14px;
  }
}

.resume-button {
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  width: 130px;
  font-weight: 600;
  margin: 6rem 1rem;
  cursor: pointer;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.resume-button.resume-button {
  background: black;
  color: #fff;
  border-color: #020001;
}

.resume-button.resume-button:hover {
  background: transparent;
  border-color: black;
  color: #000;
}
