.Accomplishments {
  font-size: 3vw; /* Default font size for larger screens */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 480px) {
  .Accomplishments {
    font-size: 5vw; /* Increase font size for smaller screens */
  }
}

.image-container {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  max-width: 80%;
  padding: 20px; /* Add padding as needed */
}

.image {
  max-width: 100%; /* Ensure the image scales with its container */
  height: auto; /* Allow the height to adjust proportionally */
  width: 70%;
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
  border: 2px solid #000; /* Add a border around the image */
  margin-bottom: 10px; /* Add margin for spacing */
}

/* Media query for screens with a maximum width of 768px (typical mobile devices) */
@media screen and (max-width: 768px) {
  .image {
    max-width: 90%; /* Reduce the image size for smaller screens */
  }
}

.swipeable-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-width: 100%; 
}