.Accomplishments {
  font-size: 3vw; /* Default font size for larger screens */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 480px) {
  .Accomplishments {
    font-size: 5vw; /* Increase font size for smaller screens */
  }
}

/* Continue with the rest of your existing styles... */

.image-container-experience {
  position: relative;
  max-width: 80%;
  margin: 50px auto; /* Center the container horizontally */
  padding: 20px; /* Add padding as needed */
  text-align: center; /* Center the child elements horizontally */
}

.image {
  max-width: 100%; /* Ensure the image scales with its container */
  height: auto; /* Allow the height to adjust proportionally */
  width: 70%;
  object-fit: contain; /* Maintain aspect ratio and fit within the container */
  border: 2px solid #000; /* Add a border around the image */
  margin-bottom: 10px; /* Add margin for spacing */
}

/* Media query for screens with a maximum width of 768px (typical mobile devices) */
@media screen and (max-width: 768px) {
  .image {
    max-width: 90%; /* Reduce the image size for smaller screens */
  }
}

.swipeable-container {
  display: flex;
  flex-direction: column; /* Change to relative positioning */
  align-items: center;
}


.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipeable-container {
  position: relative;
  height: 100%;
}

.button-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.left-arrow {
  order: 1;
}

.right-arrow {
  order: 2;
}

button {
  background: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 1rem; /* Adjust padding for button size */
  font-size: 1.5rem; /* Adjust font size for button size */
  cursor: pointer;
  color: #fff;
}

button:hover {
  background: #f0f0f0;
  color: #000;
}


@media screen and (max-width: 768px) {
  .container-wrapper {
    height: 100%; /* Adjust styles for smaller screens */
  }
}

.experience {
  margin-top: 120px; /* Increased from 10% to a fixed pixel value for better control */
  /* Other styles... */
}

/* If the .experience class has a direct child that serves as a section header or similar, you can add padding-top to it as well */
.experience > :first-child {
  padding-top: 120px; /* This adds space at the top inside the first element of .experience */
}

/* Since you have a sticky navbar, ensure that the top margin is at least as tall as the navbar itself */
@media screen and (max-width: 768px) {
  .experience {
    margin-top: 100px; /* You can adjust this for smaller screens if your navbar height changes */
  }
}

/* Continue with the rest of your existing styles... */

