.home {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: black;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: beige;
  color: black;
}

.about h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 5vw; /* Increased font size for larger screens while maintaining one line */
  color: black;
  margin: 1% 0; /* Adjusted margin for better spacing */
  line-height: 1; /* Adjusted line height to fit one line */
}

.about .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: black;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: black;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .about h2 {
    font-size: 40px;
  }

  .about .prompt {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}

/* Style for each skill card */
.skill-card {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for skill categories (e.g., Front-End, Back-End, Technologies, Languages) */
.skill-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style for skill icons */
.skill-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.skill-icons i {
  margin-right: 10px;
  font-size: 24px;
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .skill-card {
    padding: 10px;
  }
  
  .skill-card h2 {
    font-size: 20px;
  }
  
  .skill-icons i {
    font-size: 20px;
    margin-right: 8px;
  }
}

.skills-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.skill-card {
  margin-right: 20px; /* Add spacing between skill cards */
}

.skill-icons {
  display: inline-block;
}

.skill-icons i {
  margin-right: 10px; /* Add spacing between skill icons */
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}



/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 480px) {
  .responsive-image {
    max-width: 100%; /* Adjust the width as needed for smaller screens */
  }
}



