.navbar {
  width: 100%;
  height: 75px; /* Adjusted for a compact layout */
  background-color: beige;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001; /* Increased z-index */
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  padding: 0 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toggleButton {
  display: none;
}

.toggleButton button {
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 30px; /* Make the button a bit larger */
}

.links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; /* Center links vertically */
}

.links a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
  display: block;
  text-align: center;
  font-size: 18px; /* Larger font size for better readability */
  transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
}


/* Responsive navbar */
@media (max-width: 768px) {
  .toggleButton {
    display: flex; /* Show the toggle button */
    position: absolute; /* Position it absolutely */
    top: 10px; /* Distance from the top */
    right: 15px; /* Distance from the right */
    z-index: 1002; /* Ensure the button is above the navbar */
  }

  .links {
    position: fixed;
    top: 60px; /* Positioned right below the navbar */
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: beige;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    align-items: center; /* Center links when navbar is expanded */
    z-index: 1000; /* Lower z-index than navbar */
  }

  .navbar.open .links {
    max-height: 300px; /* Adjusted max-height */
  }


  .links a {
    padding: 15px;
    border-bottom: 1px solid #eaeaea;
    font-size: 20px; /* Larger font size for mobile */
  }
}

/* Padding at the top of the body to avoid overlap with fixed navbar */
body {
  padding-top: 60px;
}
