.navbar {
  width: 100%;
  height: 100px;
  background: beige;
}

.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
  overflow: hidden; /* Add this to hide the animation overflow */
  transition: background-color 0.3s ease;
}

/* Default styling for links */
/* Default styling for links */
/* Default styling for links */
.links a {
  text-decoration: none; /* Remove underlines if needed */
  color: black; /* Adjust link color as needed */
  padding-right: 20px; /* Add fixed padding to create consistent space between the links */
}

/* Additional spacing for smaller screens like iPads */
@media screen and (max-width: 1024px) {
  .links a {
    padding-right: 0 20px; /* Maintain the same fixed padding for all links on smaller screens */
  }
}

/* Increase padding for "Projects" link on iPad Air or similar devices */
@media screen and (max-width: 1668px) {
  .links a[href="/projects"] {
    padding-right: 30px; /* Increase padding for the "Projects" link on iPad devices */
  }
}

.links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Change to your desired initial background color */
  z-index: -1;
  transform: translateY(100%);
  transition: transform 0.3s ease, background-color 0.3s ease; /* Animation duration and easing */
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin-right: 20px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

.menu4 li:after {
  content: "";
  position: absolute;
  display: block;
  border: 2px solid #fff;
  width: 100%;
  height: 0%;
  transition: all 0.5s ease;
  top: 100%;
}

.menu4 li:hover::after {
  width: 100%;
  top: 0;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
  }
  #close a {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    flex-direction: row;
  }
}
