.project {
  width: 100%;
  min-height: calc(
    100vh - 100px
  ); /* Use min-height for better responsiveness */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /* Center-align text content */
  padding: 2% 0; /* Added padding for spacing */
}

.project h1 {
  margin-top: 20px; /* Reduced margin-top for better spacing */
  color: black;
  font-size: 3vw; /* Responsive font size */
}

.project img {
  width: 70%; /* Fixed width for consistent size */
  max-height: 60vh; /* Fixed height for consistent size */
  object-fit: contain; /* Ensure the entire image is displayed without distortion */
  border-radius: 10px;
}

.project p {
  font-size: 2.5vw; /* Responsive font size */
  color: black;
  margin: 10px 0; /* Adjusted margin for better spacing */
  text-align: center;
}

.project svg {
  font-size: 5vw; /* Responsive font size */
  color: black;
  margin: 10px 0; /* Adjusted margin for better spacing */
}

/* Button.css */
#back {
  border: none;
  font-size: 1rem;
  background: black;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  width: 130px;
  font-weight: 600;
  margin: 0 1rem;
  cursor: pointer;
  color: #fff; /* Set the initial text color to white */
}

#back:hover {
  background-color: #fff; /* Change the background color on hover */
  color: #000; /* Change the text color on hover to black */
}
